@mixin align-center
  display: flex
  align-items: center
  justify-content: center
@mixin title
  font-size: 24px
  font-weight: 700
@mixin gradient
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent