footer
    display: flex
    align-items: center
    justify-content: left
    height: 186px
    background: #353535
    nav#footer-menu
        padding: 1rem
        color: #fff
        ul
            li:nth-child(1)
                margin-bottom: 1.4rem
            li
                margin: 0.5rem 0
                h2
                    font-family: 'Shrikhand'
                    font-size: 18px
                    font-style: italic
                    font-weight: 400
                a
                    color: white
                    text-decoration: none
                    font-weight: 500
                    font-size: 16px
                    i 
                        margin-right: 1em
                        width: 1rem