.card
    background-color: #fff
    border-radius: 1rem
    position: relative
    text-decoration: none
    color: inherit
    display: block
    img
        height: 131px
        width: 100%
        border: 0 solid transparent
        border-radius: 1rem 1rem 0 0
        box-shadow: none
        object-fit: cover
    span.badge
        background-color: #99e2d0
        color: #1b6150
        padding: 0.5rem
        border-radius: 0.125rem
        position: absolute
        top: 1rem
        right: 0.75rem
    .text-block
        padding: 1rem
        position: relative
        @include align-center
        .text-block__title
            flex: 1
            text-align: left
            h3
                margin: 0 0 0.25rem
                font-size: 18px
                font-weight: 700
            p
                font-size: 17px
                font-weight: 300
        .text-block__icon
            height: 2rem
            width: 2rem
            background-color: transparent
            border: transparent 0px solid
            padding: 0
            display: flex
            align-items: center
            justify-content: center
            i
                color: white
                -webkit-text-stroke: 1px #101010
                transition: all 0.5s
                font-size: 24px
            i:hover
                @include gradient
                -webkit-text-stroke: 0